{% extends 'base.html' %}
{% load static %}

{% block title %}
  Об авторе
{% endblock %}

{% block content %}
  <h1>Об авторе</h1>

  Во всех моих начинаниях мне сильно помогает моя собака, которую я очень сильно люблю. </br>
  Чаще всего Уилли (так зовут мою собаку в честь Уилла Смита) очень четко передает мое настроение. </br>
  Вот например когда я приступаю к новому спринту: </br>
  <img src="{% static 'img/Tired_dog.jpg' %}" width="300" height="300" alt="">
  </br>
  </br>
  А вот я сдал спринт: </br>
  <img src="{% static 'img/Glad_dog.jpg' %}" width="700" height="450" alt="" </br>

{% endblock %} 